
@charset "utf-8";


table,caption,span,tr,th,td,ul,li{margin:0;padding:0;font:normal 20px 1.5em "고딕",Gothic,sans-serif; color:#666666;}

/*----------------------------------------*/


#wrap caption{font-size:20px; text-align:left; font-weight:bold;margin-bottom:20px;}
#wrap caption span{font-size:15px;padding-left:280px;padding-top:5px;}
/*#wrap{text-align:left;}*/
#wrap {border:1px solid pink; width:440px; height:650px; border-collapse:collapse;}

#wrap tr:nth-child(1){background:#eaeaea;border-top:3px solid #686868;border-bottom:2px solid #686868;text-align:right;}
#wrap th,#wrap td{border:1px solid #dfdfdf;}
#wrap th{text-align:left; padding-left:20px;}
#wrap td{text-align:right; padding-right:10px;}
#wrap tr:nth-child(2){background:#f5efd8;}
#wrap tr:nth-child(3){background:#f5efd8;}
#wrap tr:nth-child(7){background:#f5efd8;}
#wrap tr:nth-child(14){background:#f5efd8;}
#wrap tr:nth-child(13){background:#f5efd8;}
#wrap #ex5{border-top:2px solid black;}
#wrap #ex6{border-bottom:2px solid black;}
#wrap li{list-style-type:square; margin-left:15px;font-size:13px;}


