@charset "utf-8";


/*reset*/

body,div,h2,h3,p,a{margin:0; padding:0;}

a{text-decoration:none;color:#666666;}
body{font:normal 12px/1.5em "맑은 고딕","Malgun Gothic",sans-serif; color:#333333;}

/*wrap*/
#wrap{width:900px; height:350px;margin-top:20px; margin-left:auto; margin-right:auto;}
/*높이먼저주고 해라*/
#wrap > h2{color:#749999;font-size:20px;letter-spacing:1px; height:20px; margin-bottom:30px;
background:url(../images/marker.gif) no-repeat left center;text-indent:20px;}
#business{width:905; height:290px;border-top:3px solid #749999; border-bottom:3px solid #749999;}
#business >div{width:300px; height:300px; float:left; box-sizing:border-box;}
#business >.bu2{border-left:1px solid #cccccc; border-right:1px solid #cccccc;}
/*해외구조 개발사업*/
#business >div >h3{height:20px; border:1px solid red; text-align:center; color:#666666;font-size:17px; margin-top:10px; margin-bottom:20px;}


#business >div >p:nth-of-type(1){border:1px solid blue; padding-top:150px; width:280px; margin-left:auto; margin-right:auto; margin-bottom:15px;}/*공통*/
#business >.bu1 >p:nth-of-type(1){background:url(../images/baby1.png) no-repeat center top;}
#business >.bu2 >p:nth-of-type(1){background:url(../images/baby2.png) no-repeat center top;}
#business >.bu3 >p:nth-of-type(1){background:url(../images/baby3.png) no-repeat center top;}

#business > div >p:nth-of-type(2){width:50px;border:1px solid green; float:right;margin-right:15px;}/*더보기*/
#business > div >p:nth-of-type(2) a:hover{text-decoration:underline; color:#000000;}