@charset "utf-8";
/*reset*/
ul,li{list-style:none;}
div,p,img,h4,ul,li{margin:0; padding:0;}
body{font-size:12px;line-height:1.5em;font-family:"맑은 고딕","Malgun Gothic",sans-serif;}

/*wrap*/
#wrap{width:330px;height:550px; border:1px solid #cccccc;}
#wrap > p{; width:330px; height:261px;}
#wrap > h4{font-size:15px; font-family:Arial,sans-serif; margin-left:38px;margin-top:17px;letter-spacing:3px; background:url(../images/line.jpg)no-repeat left bottom;
padding:16px;margin-bottom:20px;}
#wrap > ul{margin-left:38px;}
#wrap > ul li{background:url(../images/dot.jpg) no-repeat left center;padding-left:12px; line-height:2em; color:#717171;}
/*
#wrap p{margin:0px; padding:0px;}
#wrap h4{padding:30px; margin-top:-15px; background:url(../images/line.jpg) no-repeat left center;} bottom;width:20px; height:1px;}
#wrap li{color:#7e7e7e; margin-bottom:10px;font-size:12px;font-family:"맑은 고딕","Malgun Gothic",sans-serif}*/
