@charset "utf-8";

.wrap >h3{margin:10px;}
.wrap > div{border:1px solid red;}

/*예제1*/
#ex1{display:flex;}
#ex1 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}
/*예제2*/
#ex2{display:flex; flex-direction:column;}/*수직*/
#ex2 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제3*/
#ex3{display:flex; flex-direction:column-reverse;}/*역순*/
#ex3 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}


/*예제4*/
#ex4{display:flex; flex-direction:row;}/*수평 기본값*/
#ex4 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}


/*예제5*/
#ex5{display:flex; flex-direction:row-reverse;width:300px;}/*수평 (역순)*/
#ex5 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제6*/
#ex6{display:flex;flex-wrap:wrap;}/*브라우저너비를 줄이면 다음줄로 배치됨*/
#ex6 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}


/*예제7*/
#ex7{display:flex;flex-wrap:nowrap;}/*브라우저너비를 줄이면 한줄로 배치됨*/
#ex7 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제8*/
#ex8{display:flex;flex-wrap:wrap-reverse;}/*브라우저너비를 줄이면 역순으로 위로 배치됨*/
#ex8 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}


/*예제9*/
#ex9{display:flex; justify-content:center;}/*가로 가운데 넣어줌*/
#ex9 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제10*/
#ex10{display:flex; justify-content:flex-start;}/*왼쪽으로 배치(기본값)*/
#ex10 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제11*/
#ex11{display:flex; justify-content:flex-end;}/*오른쪽으로 배치*/
#ex11 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제12*/
#ex12{display:flex; justify-content:space-around;}/*좌우간격 동일*/
#ex12 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제13*/
#ex13{display:flex; justify-content:space-between;}/*양쪽맞춤 배치*/
#ex13 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제14*/
#ex14{display:flex;height:300px; align-items:center;}/*세로중앙 배치*/
#ex14 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제15*/
#ex15{display:flex;height:300px; align-items:flex-start;}/*세로위쪽 배치*/
#ex15 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}


/*예제16*/
#ex16{display:flex;height:300px; align-items:flex-end;}/*세로아래쪽 배치*/
#ex16 > div{background-color:pink; width:100px; height:100px; font-size:30px; text-align:center; line-height:100px; border:1px solid black;}


/*예제17*/
#ex17{display:flex;height:300px; align-items:stretch;}/*부모높이로 세로확장*/
#ex17 > div{background-color:pink; width:100px;font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제18*/
#ex18{display:flex;height:600px;flex-wrap:wrap; align-content:space-between;}/*브라우저에 줄이면 다음줄로 배치됨*/
#ex18 > div{background-color:pink;height:100px;width:100px;font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제19*/
#ex19{display:flex;height:600px;flex-wrap:wrap; align-content:space-around;}/*브라우저에 줄이면 다음줄로 배치됨*/
#ex19 > div{background-color:pink;height:100px;width:100px;font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제20*/
#ex20{display:flex;height:600px;flex-wrap:wrap; align-content:stretch;}/*브라우저 줄이면 다음줄로 배치됨*/
#ex20 > div{background-color:pink;width:100px;font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제21*/
#ex21{display:flex;height:600px;flex-wrap:wrap; align-content:center;}/*브라우저에 줄이면 다음줄로 배치됨*/
#ex21 > div{background-color:pink;height:100px;width:100px;font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제22*/
#ex22{display:flex;height:300px; justify-content:center; align-items:center;}/*브라우저에 줄이면 다음줄로 배치됨*/
#ex22 > div{background-color:pink;height:100px;width:100px;font-size:30px; text-align:center; line-height:100px; border:1px solid black;}


/*예제23*/
#ex23{display:flex;}/*순서번경*/
#ex23 > div{background-color:pink;height:100px;width:100px;font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제24*/
#ex24{display:flex;}/*길이*/
#ex24 > div{background-color:pink;height:100px;width:100px;font-size:30px; text-align:center; line-height:100px; border:1px solid black;}

/*예제25*/
#ex25{display:flex;}/*길이고정*/
#ex25 > div{background-color:pink;height:100px;width:100px;font-size:30px; text-align:center; line-height:100px; border:1px solid black;}


/*예제26*/
#ex26{display:flex;}/*초기너비*/
#ex26 > div{background-color:pink;height:100px;width:100px;font-size:30px; text-align:center; line-height:100px; border:1px solid black;}