@charset "utf-8";


#ex1 iframe{border:none;}

/*border:0*/

#ex2 a{text-decoration:none; color:#000000;}
#ex2_2 iframe{border:none;}
/*text-decration:글자 밑줄*/


#ex3 iframe{border:5px groove #336666;}

#ex4 iframe{border:none;}

#ex5 iframe{border:1px solid #333333;}