@charset "utf-8";

/*초기화 reset*/
a{color:#000000;text-decoration:none;}

/*ex1*/
/*#ex1 li a[target]{background-color:#cc99ff;}*/
/*#ex1 li a[title="naver"]{background-color:#ff0066;}*/
/*#ex1 li a[title~="daum"]{background-color:#ff9999;}*/
/*#ex1 li a[title|="nate"]{text-decoration:line-through;} 이해안됨*/
/*#ex1 li a[title$="nate"]{color:red;}*/
/*#ex1 li a[title^="nate"]{color:blue;}*/
/*#ex1 li a[title*="daum"]{color:orange;}*/


/*ex2*/
/*속성값이 png로 끝나는 태그,border적용(두께 3,색#cc0066,실선)*/
/*속성값이 node를 포함하는태그 ,border적용(두께 2,색 #ff6633,짧은실선)*/
/*속성값이 images/ux1.gif인태그,border적용(두께 4,색 #3399ff,이중실선*/
#ex2 img[src$="png"]{border:3px #cc0066 solid;}
#ex2 img[src*="node"]{border:2px #ff6633 dotted;}
#ex2 img[src="images/ux1.gif"]{border:4px #3399ff double;}
/*ex3*/
/*속성값이 자유로 시작하는 태그,배경색(#cc0066)*/
/*속상값이 회원장터인 태그,배경색(#ff6633)*/
/*속상값이 레시피로 끝나는 태그,배경색(#3399ff)*/
.ex3 a[title^="자유"]{background-color:#cc0066;}
.ex3 a[title="회원 장터"]{background-color:#ff6633;}
.ex3 a[title$="레시피"]{background-color:#3399ff;}
/*ex4*/
.ex4 >span{color:#ff0099;border-bottom:3px double #996666;}
.ex4 span{background-color:yellow;}

/*ex5*/
#ex5 > h5{background-color:#996699;}
/*#ex5 h5{color:red;}*/
#ex5 > #ex5_2 > h5{color:blue;}
#ex5_2 > h5{background-color:orange;}

/*EX6 + 이해안됨 첫번쨰는 css가 제외됨/EX7 +/EX8 ~*/
.ex6 li + li{background-color:#ff00ff; color:#cccccc;}
.ex7 h5 + h6{text-decoration:line-through;color:red;}
.ex8 h5 ~ h6{color:#0033cc;}

/*ex9 hover 커서 올려놨을때 active 누르고있을때*/
#ex9 li a:hover{text-decoration:underline; color:#ff0000;}
#ex9 li a:active{background-color:#99ccff;}
/*커서모양 이미지 cusor:url(경로,파일명),auto 기본사이즈
확장자 : cursor.cur 크기 w128 x h128 허용하지만 w32 h 32적당(.. 이미자파일위로 )*/
.ex9_a:hover{cursor:default;}
.ex9_b:hover{cursor:pointer;}
.ex9_c:hover{cursor:move;}
.ex9_d:hover{cursor:url(../images/cursor.cur),auto}

/*ex10*/
.ex10:focus{border:3px solid #9900ff; background-color:#ffffcc;outline:none;}
.ex10:not([type="password"]){background-color:orange;}

/*ex11* 1_1,1_2(1)첫번쨰예제임/*/
#ex11 li:first-child{background-color:#33ff66;}
#ex11 > li:first-child{color:red;}
#ex11 li:last-child{background-color:#cc6699;}
#ex11 li:nth-child(4){border:2px solid #990033;}
#ex11 li:nth-child(even){background-color:#ffcc33;}
#ex11 li:nth-child(odd){background-color:#66ffff;}
#ex11 li:nth-child(4n){text-decoration:line-through;}
#ex11 li:nth-child(4n+1){background-color:pink;}
#ex11 li:nth-child(3n+1){background-color:green;}
#ex11 li:nth-child(3n+2){background-color:blue;}

/*ex12*/
#ex12 >p:nth-of-type(3){background-color:#cc99ff;}
#ex12 >h5:nth-of-type(1){color:blue;}

/*EX13*/
/*.ex13 ::first-line, .ex13 :first-line, 하위버전떄문에 한개만더 넣어주는경우도있음*/
.ex13::first-line,.ex13 :first-line{background-color:#ffcccc;color:#cc00ff;font-size:12px;}
.ex13::first-letter,.ex13:first-letter{font-size:30px;color:#000000;background:#ffffff;border:1px solid #000000;}

/*ex13_2*/
.ex13_2::selection{color:yellow;background-color:#ff7473;}

/*ex14*/
.ex14::before,.ex14:before{content:"수강과목";color:#cc6600;font-weight:bold;}
.ex14::after,.ex14:after{content:"아졸리다/";color:#cc0066;}


/*ex15*/
.ex15[type="checkbox"]:checked+label{color:#ff0066;font-weight:bold;}
/*check된 input바로뒤 label 글자색 변경*/


/*ex16*/
.ex16:disabled{background-color:#ffcc66;}
.ex16:enabled{border:3px solid red;}

/*ex17 i임폴트엔트 우선순위변경*/
p.ex17{background-color:#ccffcc;border-bottom:3px double #cc6666;color:#666699;}
/*.ex17{text-decoration:line-through;color:#000000 !important;background-color:#ff6600 !important;}*/
/*ex17좋은예제*/
p.ex17{text-decoration:line-through;color:#000000;background-color:#ff6600;}



